:root {
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --theme-color: #5ab071;
}

:root[theme-mode="light"] {
  --scrollbar-color: #79b98b #ffffff;
}

:root[theme-mode="dark"] {
  --scrollbar-color: #317243 #cccccc;
}

* {
  @apply font-mono;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color);
}

body {
  height: 100vh;
  background-color: var(--td-bg-color-page);
  overflow: hidden;
}

label,
input,
button {
  cursor: pointer;
  font-family: var(--font-mono) !important;
}

button:disabled {
  cursor: not-allowed;
}

/* PatternFormat */
input[inputmode="numeric"] {
  height: var(--td-comp-size-m);
  color: var(--td-text-color-primary);
  background-color: var(--td-bg-color-specialcomponent);
  border: 1px solid var(--td-border-level-2-color);
  border-radius: var(--td-radius-default);
}

/* Select */
.t-input--focused {
  border-color: transparent !important;
}
.t-fake-arrow.t-select__right-icon {
  color: var(--td-brand-color) !important;
}

/* Slider */
.t-slider__mark-text {
  font-family: var(--font-mono) !important;
}

/* Radio */
.t-radio__label {
  font-size: 0.9rem !important;
  font-family: var(--font-mono) !important;
}

/* Dialog */
.t-dialog {
  border: 3px solid var(--theme-color) !important;
  padding: 20px 35px !important;
  padding-bottom: 0px !important;
}
.t-dialog__mask {
  backdrop-filter: blur(1.5px);
}
.t-dialog__close {
  font-size: 2rem !important;
  width: 2rem !important;
  height: 2rem !important;
}

/* WaveSurfer */
.wavesurfer-handle:before {
  content: "";
  width: 7px;
  height: 70%;
  background-color: #4adc93;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15%;
  border-radius: 7px;
  -webkit-user-select: none;
}

::part(region) {
  color: var(--theme-color);
  font-size: 0.75rem;
  border-radius: 10px !important;
}

::part(region-handle-left) {
  position: relative;
  border: none;
  border-radius: 5px 0px 0px 5px;
  width: 8px;
  background-color: var(--theme-color);
}

::part(region-handle-right) {
  border: none;
  border-radius: 0px 5px 5px 0px;
  width: 8px;
  background-color: var(--theme-color);
}

::part(region-handle-left)::before,
::part(region-handle-right)::before {
  content: "•\a•\a•";
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 0.75em;
}

#multitrack > div {
  height: 100% !important;
  overflow: auto !important;
}

/* timeline */
#multitrack > div > div > div:nth-child(1) {
  height: 30px !important;
}

/* track */
#multitrack > div > div > div:nth-child(n + 3):nth-last-child(n + 2) {
  margin-bottom: 40px !important;
}

#multitrack > div > div > div.active {
  border: 2px dotted;
  border-color: var(--theme-color) !important;
  border-left: 6px solid;
  border-right: 6px solid;
  border-radius: 2px;
  padding: 12px !important;
}
