:root,
:root[theme-mode="light"] {
  --td-brand-color-1: #e2fbda;
  --td-brand-color-2: #c6f5be;
  --td-brand-color-3: #93dd8d;
  --td-brand-color-4: #5bc25e;
  --td-brand-color-5: #36a541;
  --td-brand-color-6: #008a21;
  --td-brand-color-7: #006e18;
  --td-brand-color-8: #00540f;
  --td-brand-color-9: #003c08;
  --td-brand-color-10: #002603;
  --td-brand-color: var(--td-brand-color-4);
  --td-brand-color-hover: var(--td-brand-color-3);
  --td-brand-color-active: var(--td-brand-color-5);
}

:root[theme-mode="dark"] {
  --td-brand-color-1: #36a54120;
  --td-brand-color-2: #003c08;
  --td-brand-color-3: #00540f;
  --td-brand-color-4: #006e18;
  --td-brand-color-5: #008a21;
  --td-brand-color-6: #36a541;
  --td-brand-color-7: #35b845;
  --td-brand-color-8: #93dd8d;
  --td-brand-color-9: #c6f5be;
  --td-brand-color-10: #e2fbda;
  --td-brand-color: var(--td-brand-color-6);
  --td-brand-color-hover: var(--td-brand-color-5);
  --td-brand-color-active: var(--td-brand-color-7);
}